<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.dao.cart.CartItemMapper">
    <resultMap id="BaseResultMap" type="cartItem">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="item_id" property="itemId" jdbcType="INTEGER" />
        <result column="user_id" property="userId" jdbcType="INTEGER" />
        <result column="number" property="number" jdbcType="INTEGER" />
    </resultMap>
</mapper>