<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.dao.user.UserMapper">
    <resultMap id="BaseResultMap" type="com.shop.model.user.User" >
        <id column="user_id" jdbcType="INTEGER" property="userId" />
        <result column="username" jdbcType="VARCHAR" property="username" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="email" jdbcType="VARCHAR" property="email" />
        <result column="phone_number" jdbcType="VARCHAR" property="phoneNumber" />
        <result column="year" jdbcType="VARCHAR" property="year" />
        <result column="month" jdbcType="VARCHAR" property="month" />
        <result column="day" jdbcType="VARCHAR" property="day" />
        <result column="sex" jdbcType="VARCHAR" property="sex" />
        <result column="image" jdbcType="VARCHAR" property="image" />
        <association property="merchant" javaType="com.shop.model.merchant.Merchant">
            <id column="merchant_id" property="merchantId" jdbcType="INTEGER"/>
            <result column="merchant_name" property="merchantName" jdbcType="VARCHAR"/>
        </association>
    </resultMap>
    <select id="selectUser" parameterType="user" resultType="user">
        SELECT
          username,
          phone_number,
          email
        FROM
          shop_user
        WHERE username = #{username} OR phone_number = #{phoneNumber} OR email = #{email};
    </select>
    <update id="resetPassword" parameterType="user" >
        UPDATE
          shop_user
        <set>
           password = #{password},
        </set>
        WHERE
          <if test="phoneNumber != null">
              phone_number = #{phoneNumber};
          </if>
          <if test="email != null">
              email = #{email};
          </if>
          <if test="userId != null">
              user_id = #{userId};
          </if>
    </update>
    <select id="login" parameterType="user" resultMap="BaseResultMap">
        SELECT
          *
        FROM
          shop_user u LEFT JOIN shop_merchant m
        ON
          u.user_id = m.merchant_id
        WHERE binary u.password = #{password} AND (u.username = #{username} OR u.phone_number = #{username} OR u.email = #{username});
    </select>
</mapper>