<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.dao.merchant.ItemMapper">
    <resultMap id="BaseResultMap" type="com.shop.model.merchant.Item">
        <id column="item_id" property="itemId" jdbcType="INTEGER" />
        <result column="item_title" property="itemTitle" jdbcType="VARCHAR" />
        <result column="category_one" property="categoryOne" jdbcType="VARCHAR" />
        <result column="category_two" property="categoryTwo" jdbcType="VARCHAR" />
        <result column="price" property="price" jdbcType="DOUBLE" />
        <result column="stock" property="stock" jdbcType="INTEGER" />
        <result column="images" property="images" jdbcType="VARCHAR" />
        <result column="merchant_id" property="merchantId" jdbcType="INTEGER" />
        <result column="details" property="details" jdbcType="LONGVARCHAR" />
        <result column="sales" property="sales" jdbcType="INTEGER" />
        <association property="merchant" javaType="merchant">
            <id column="merchant_id" property="merchantId" jdbcType="INTEGER"/>
            <result column="merchant_name" property="merchantName" jdbcType="VARCHAR"/>
        </association>
    </resultMap>

    <select id="selectItem" parameterType="item" resultType="item">
        SELECT
          item_id,item_title,category_one,category_two,price,stock,images,merchant_id,sales
        FROM
          shop_item
        WHERE
          merchant_id = #{merchantId}
    </select>

    <sql id="selectItems">
        SELECT
          s.item_id, s.item_title, s.price, s.sales, s.images, m.*
        FROM
          shop_merchant AS m INNER JOIN shop_item AS s ON  m.merchant_id = s.merchant_id
    </sql>

    <select id="selectItemsByCategory" parameterType="java.lang.String" resultMap="BaseResultMap">
        <include refid="selectItems"/>
        WHERE
          s.category_one = #{value} OR s.category_two = #{value}
    </select>

    <select id="selectItemsBySearchName" parameterType="java.lang.String" resultMap="BaseResultMap">
        <include refid="selectItems"/>
        WHERE
        s.item_title LIKE CONCAT(CONCAT('%', #{value}), '%')
    </select>

    <select id="showItem" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        SELECT
          s.*, m.merchant_name
        FROM
          shop_merchant AS m INNER JOIN shop_item AS s ON  m.merchant_id = s.merchant_id
        WHERE
          s.item_id = #{value}
    </select>

    <select id="selectOrderItem" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        SELECT
          i.item_id,i.item_title,i.price,i.images,m.*
        FROM
          shop_item i INNER JOIN shop_merchant m ON i.merchant_id = m.merchant_id
        WHERE
          i.item_id = #{value}
    </select>
</mapper>